
<h2>Your Weekly Meal Plan</h2>
<div class = "container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1%" >

  <div fxFlex="80%">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Monday</mat-card-title>
            <mat-card-subtitle>{{titles[0]}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{pictures[0]}}>
        <mat-card-content>
            <p>
              {{descriptions[0]}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  </div>
  <div fxFlex="80%">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Tuesday</mat-card-title>
            <mat-card-subtitle>{{titles[1]}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{pictures[1]}}>
        <mat-card-content>
            <p>
              {{descriptions[1]}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  </div>
  <div fxFlex="80%">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Wednesday</mat-card-title>
            <mat-card-subtitle>{{titles[2]}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{pictures[2]}}>
        <mat-card-content>
            <p>
              {{descriptions[2]}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  </div>
  <div fxFlex="80%">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Friday</mat-card-title>
            <mat-card-subtitle>{{titles[3]}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{pictures[3]}}>
        <mat-card-content>
            <p>
              {{descriptions[3]}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  </div>
</div>
